main *{
  font-family: Verdana, Geneva, sans-serif;
}
main {
  margin-top: 1.25rem;
}

div.highlight {
  background-color: #f8f8f8;
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 2px;
  padding: 0.125rem 0.3125rem 0.0625rem;
  margin-bottom: 1.25rem;
  overflow: auto;
  max-height: 50vh;
}

div.highlight pre code{
  background-color: transparent;
  border-color: transparent;
  border-style: none;
  border-width: 0px;
  padding: 0.0rem 0.0rem 0.0rem 0.0rem;  
}

code, code *{
  font-family: monospace;
}

mark,.marker {
  background-color: yellow;
}

blockquote.note::before
{
  content: "NOTE";
  font-weight: bold;
}
blockquote.note
{
  padding-top: 0.0rem;
}

blockquote.terminal
{
  padding-top: 0.0rem;
}

blockquote.terminal *
{
  font-family: monospace;
}

blockquote.indent
{
  border-left-style: none;
}

blockquote.indent *
{
  color: black;
}
figure.document-figure
{
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 2px;
  padding: 0.0rem;
  margin-left: 0.0rem;
  margin-right: 0.0rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
figure.document-figure img
{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  max-height: 50vh;
}
figure.document-figure figcaption
{
  margin-top: 1.25rem;
  margin-bottom: 0.0rem;
  margin-left: 0.0rem;
  margin-right: 0.0rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #f8f8f8;
}
/*
div.toc ul.side-nav
{
  padding: 0 0 0.875rem 0;
}
div.toc ul.side-nav li
{
  margin: 0rem;
}
div.toc ul.side-nav li a:not(.button)
{
  padding-left: 0rem;
}
div.toc ul.side-nav li.divider
{
  margin-top: 0.4375rem;
}
*/
nav.tab-bar
{
  background: #444444;
}
ul.off-canvas-list li
{
}
ul.off-canvas-list li a {
    border-bottom: 0px;
}
ul.off-canvas-list li a:hover {
    background: #333333;
}
ul.off-canvas-list li a h1 {
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.8125rem;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}
ul.off-canvas-list li a h2 {
    color: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.8125rem;
    padding: 0px;
    margin: 0px;
}
ul.off-canvas-list li.divider {
    border-bottom: 1px solid #444444;
}
aside.left-off-canvas-menu
{
  background: #555555;
}
div.contentheader
{
  background: #f2f2f2;
  border-bottom-width: 1px;
  border-bottom-color: #d8d8d8;
  border-bottom-style: solid;
  //margin-bottom: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.move-right .exit-off-canvas, .move-left .exit-off-canvas { box-shadow: none; }