---
layout: default
title: Documents
relativeroot: ../
---

<div class="row">
<div class="content large-12 columns">

{% for p in site.categories.documents %}
{% if p.published and !p.hidden %}
<p><strong><a href="{{page.relativeroot}}{{ p.url | remove_first:'/' }}">{{ p.title }}</a></strong>
<span class="secondary label">
  {% if p.modified %}Last Modified: {{ p.modified | date: "%Y-%m-%d" }}
  {% else %} {{ p.date | date: "%Y-%m-%d" }}
  {% endif %}
</span>
{% if p.description %}
  <br />{{ p.description }}
{% endif %}
{% if p.tags.size > 0 %}
  <br />{% for t in p.tags %}<span class="label">{{t}}</span> {% endfor %}
{% endif %}
</p>
{% endif %}
{% endfor %}

</div>
</div>
