---
layout: default
description: Unlisted items / work in progress
modified: 2015-10-06 21:04
relativeroot: ./
---

<div class="row">
<div class="content large-12 columns">

<h1>Documents</h1>

{% for p in site.categories.documents %}
{% if p.published != true or p.hidden == true %}
<p><strong><a href="{{page.relativeroot}}{{ p.url | remove_first:'/' }}">{{ p.title }}</a></strong>
{% if p.published %}<span class="label">Published</span>{% endif %}
{% if p.hidden == true %}<span class="label">Hidden</span>{% endif %}
<span class="secondary label">
  {% if p.modified %}Last Modified: {{ p.modified | date: "%Y-%m-%d" }}
  {% else %} {{ p.date | date: "%Y-%m-%d" }}
  {% endif %}
</span>
{% if p.description %}
  <br />{{ p.description }}
{% endif %}
{% if p.tags.size > 0 %}
  <br />{% for t in p.tags %}<span class="label">{{t}}</span> {% endfor %}
{% endif %}
</p>
{% endif %}
{% endfor %}

</div>
</div>
