<footer>
  <hr>
  <div class="large-12 columns">
    <ul class="inline-list right">
      <li><a href="https://github.com/mikkorepolainen"><img src="{{page.relativeroot}}/images/GitHub-Mark-32px.png" height="20" width="20" align="absmiddle" border="0" /></a></li>
      <li><a href="https://fi.linkedin.com/pub/mikko-repolainen/4/9ba/580"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="20" align="absmiddle" border="0" /></a></li>
    </ul>
    <p>© Copyright Mikko Repolainen.</p>
  </div>
</footer>
