<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title }} :: {% endif %}Repolainen</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="{{page.relativeroot}}css/syntax.css">
	<link rel="stylesheet" href="{{page.relativeroot}}css/bootstrap.min.css">
	<!--
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/x-icon" href="/favicon.png" />
	<link rel="alternate" type="application/atom+xml" title="Upcoming Events" href="/atom.xml">
	<script type="text/javascript" src="{{ site.url }}/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}/js/quotes.js"></script>
	<script type="text/javascript" src="{{ site.url }}/js/all.js"></script>
	-->
</head>
<body>
    {% include header.html %}
	<div class="container">
    {{ content }}
	</div>
    <div class="push"></div>
	{% include footer.html %}
</body>
</html>