<!DOCTYPE HTML>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} :: {% endif %}Mikko Repolainen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{page.relativeroot}}css/foundation.css" />
    <link rel="stylesheet" href="{{page.relativeroot}}css/syntax.css">
    <link rel="stylesheet" href="{{page.relativeroot}}css/custom.css">
    <script src="{{page.relativeroot}}js/vendor/modernizr.js"></script>
  </head>
  <body>
    {% include header.html %}
    <header class="panel clearfix">
      <div>
        <strong>{{ page.title }}</strong>
        <span class="secondary label">
          {% if page.modified %}Last Modified: {{ page.modified | date: "%Y-%m-%d" }}
          {% else %} {{ page.date | date: "%Y-%m-%d" }}
          {% endif %}
        </span>
      </div>
      {% if page.description %}
      <div>
        {{ page.description }}
      </div>
      {% endif %}
      {% if page.tags.size > 0 %}
      <div>
        {% for t in page.tags %}<span class="label">{{t}}</span> {% endfor %}
      </div>
      {% endif %}
    </header>    
    <nav class="sidebar large-2 medium-3 columns">
      <ul class="side-nav" role="navigation" title="Contents">
        {% for c in page.content-links %}
        <li role="menuitem">{{c}}</li>
        {% endfor %}
        <li class="divider"></li>
      </ul>
    </nav>
    <main class="large-10 medium-9 columns">
      {{ content }}
    </main>
    {% include footer.html %}

    <script src="{{page.relativeroot}}js/vendor/jquery.js"></script>
    <script src="{{page.relativeroot}}js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>