<!DOCTYPE HTML>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} :: {% endif %}Mikko Repolainen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{page.relativeroot}}css/foundation.css" />
    <link rel="stylesheet" href="{{page.relativeroot}}css/syntax.css">
    <link rel="stylesheet" href="{{page.relativeroot}}css/custom.css">
    <script src="{{page.relativeroot}}js/vendor/modernizr.js"></script>
  </head>
  <body>
    {% include header.html %}
    <header class="panel clearfix">
      <div>
        <strong>{{ page.title }}</strong>
        <span class="secondary label">
          {% if page.modified %}Last Modified: {{ page.modified | date: "%Y-%m-%d" }}
          {% else %} {{ page.date | date: "%Y-%m-%d" }}
          {% endif %}
        </span>
      </div>
      {% if page.description %}
      <div>
        {{ page.description }}
      </div>
      {% endif %}
      {% if page.tags.size > 0 %}
      <div>
        {% for t in page.tags %}<span class="label">{{t}}</span> {% endfor %}
      </div>
      {% endif %}
    </header>
    <div class="row">
      <nav class="sidebar large-2 medium-3 columns" id="toc">
      </nav>
      <main class="content large-10 medium-9 columns end" id="contents">
        {{ content }}
      </main>
    </div>
    {% include footer.html %}

    <script src="{{page.relativeroot}}js/vendor/jquery.js"></script>
    <script src="{{page.relativeroot}}js/foundation.min.js"></script>
    <script>
      // http://stackoverflow.com/questions/187619/is-there-a-javascript-solution-to-generating-a-table-of-contents-for-a-page
      function TableOfContents(input, output) {
        var toc = '';
        var container = document.querySelector(input) || document.querySelector('#contents');
        var output = output || '#toc';
        var level1_anchor = '';

        container.innerHTML =
          container.innerHTML.replace(
            /<h([\d])[^>]*>([^<]+)<\/h[\d]>/gi,
            function (str, level, titleText) {
              if (level > 2) {
                return str;
              }
              var anchor = titleText.replace(/ /g, "_");

              if (level == 1)
              {
                level1_anchor = anchor;              
                if (toc.length != 0) toc += '<li class="divider"></li>';
                toc += '<li role="menuitem"><a href="#' + anchor + '"><b>' + titleText + '</b></a>';
              }
              else
              {
                anchor = level1_anchor + "_" + anchor;
                toc += '<li role="menuitem"><a href="#' + anchor + '">' + titleText + '</a>';
              }
              return '<h' + level + '><a href="#' + anchor + '" id="' + anchor + '"></a>' + titleText + '</h' + level + '>';
            }
          );

        toc = '<ul class="side-nav" role="navigation" title="Contents">' + toc + '</ul>';
        document.querySelector(output).innerHTML += toc;
      };
      TableOfContents('#contents', '#toc');
    </script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>