<!DOCTYPE HTML>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} :: {% endif %}Mikko Repolainen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{page.relativeroot}}css/foundation.css" />
    <link rel="stylesheet" href="{{page.relativeroot}}css/syntax.css">
    <link rel="stylesheet" href="{{page.relativeroot}}css/custom.css">
    <script src="{{page.relativeroot}}js/vendor/modernizr.js"></script>
  </head>
  <body>
    {% include header.html %}
    <!--<main class="large-10 large-offset-2 medium-9 medium-offset-3 columns">-->
    <main class="row">
      {{ content }}
    </main>
    {% include footer.html %}

    <script src="{{page.relativeroot}}js/vendor/jquery.js"></script>
    <script src="{{page.relativeroot}}js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>