<!DOCTYPE HTML>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} :: {% endif %}Mikko Repolainen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{page.relativeroot}}css/foundation.css" />
    <link rel="stylesheet" href="{{page.relativeroot}}css/syntax.css">
    <link rel="stylesheet" href="{{page.relativeroot}}css/custom.css">
    <script src="{{page.relativeroot}}js/vendor/modernizr.js"></script>
  </head>
  <body>
    {% include header.html %}
    <nav class="tab-bar">
      <section class="tab-bar-section middle">
        <div class="left">Posts</div>
      </section>
    </nav>
    <div class="contentheader clearfix">
      <div class="row">
        <div class="large-12 columns">
          <strong>{{ page.title }}</strong>
          <span class="secondary label">
            {{ page.date | date: "%Y-%m-%d" }}
          </span>
        </div>
        <div class="large-12 columns">
          {{ page.description }}
        </div>
        {% if page.tags.size > 0 %}
        <div class="large-12 columns">
          {% for t in page.tags %}<span class="label">{{t}}</span> {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <main class="large-12 columns">
        {{ content }}
      </main>
    </div>
    {% include footer.html %}

    <script src="{{page.relativeroot}}js/vendor/jquery.js"></script>
    <script src="{{page.relativeroot}}js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>